<script src="js/face-api.js"></script>
<!-- Custom Script for Face-API -->
<script src="js/takeSelfie.js"></script>
<script src="js/faceCam.js"></script>
{{!-- Face-API.js Scripts --}}
<script src="js/commons.js"></script>
<script src="js/drawing.js"></script>
<script src="js/faceDetectionControls.js"></script>
<link rel="stylesheet" href="css/style.css">

<!-- Materialize -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<link rel="stylesheet" href="css/facecam.css">
<link href="extras/fontawesome-free/css/all.css" rel="stylesheet">
<link href="extras/fontawesome-free/css/fontawesome.css" rel="stylesheet">


{{!-- side panel dashboard --}}
<div class="side-panel" id="side-panel">

  <div id="sidepanel-heading" class="heading">
     {{#if currentUser}}
     <span id="content-heading">{{{user.firstname}}}'s photos</span>
     {{else}}
    <span id="content-heading">USER PHOTOS</span>
    {{/if}}
  </div>

    {{! -- This is the default for side panel --}}
    {{#if currentUser}}
        <div class="row photoRows">
            {{#if user.photo1}}
                <img src="{{user.photo1.urlString}}" alt="User's saved photo1" class="profilePhotos">
            {{/if}}
            {{#if user.photo2}}
                <img src="{{user.photo2.urlString}}" alt="User's saved photo2" class="profilePhotos">
            {{/if}}
        </div>
        <div class="row photoRows">
            {{#if user.photo3}}
                <img src="{{user.photo3.urlString}}" alt="User's saved photo3" class="profilePhotos">
            {{/if}}
            {{#if user.photo4}}
                <img src="{{user.photo4.urlString}}" alt="User's saved photo4" class="profilePhotos">
            {{/if}}
        </div>
    {{else}}
    <a class="side-panel-signup" href="/login-sign-up">
        <p>Login In/Sign Up to see</p>
        <p>your saved photos here!</p>
    </a>
    {{/if}}

    {{! -- This goes under the user button on side panel --}}
      <!-- <div id="sidepanel-heading" class="heading">
        <span id="content-heading">USER PHOTOS</span>
      </div>
    {{#if currentUser}}
    <div class="row photoRows">
        <h4>Welcome {{user.username}},</h4>

        <p>Profile Information:</p>
        <p>{{user.firstname}} {{user.lastname}}</p>
        <p>{{user.email}}</p>
    </div>
        <div class="row photoRows">
            <button type="submit" class="button button-block update"/>Update Your Profile</button>

        </div>
        <div class="row photoRows">
            <button type="submit" class="button button-block btn-danger"/>Delete Your Profile</button>
        </div>
    {{else}}
        <a class="side-panel-signup" href="/login-signup">
          <p>Login or signup to see your</p>
          <p>profile information here</p>
        </a>
    {{/if}} -->


  {{!-- This is where you put the user dashboard items --}}

  <div data-position="left" class="side-bar">
    <div class="item top" id="show_hide"><i class="fa fa-angle-double-right"></i></div>
    {{!-- user settings --}}
    <div class="item" title="Preferences" ><i class="fa fa-user"></i></div>

    {{!-- separator --}}
     {{!-- <div class="item nothing" ></div> --}}



    {{!-- snap-share-social --}}
    <div class="item" title="Send to Twitter" id="social">
      <i class="fab fa-twitter" onclick="sendTweet();"></i>
    </div>
    <div class="item" title="Send to Facebook" id="social">
      <i class="fab fa-facebook-square"></i>
    </div>
    <div class="item" title="Send to Instagram" id="social">
      <i class="fab fa-instagram"></i>
    </div>
    <div class="item" "Send to Snapchat" id="social">
      <i class="fab fa-snapchat-ghost"></i>
    </div>
  </div>


</div> {{!-- end-side-panel --}}
<div class="faceContainer">

  <div class="canvas">
    <canvas id="overlay"></canvas>
    <input type="checkbox" id="hideLandmarks">
  </div>

  <div class="faceCam">
      {{#if tweetSuccess}}
        <p style="color:rgba(167, 37, 59, 0.7);">{{tweetSuccess}}</p>
      {{/if}}
      {{#if emailSuccess}}
        <p style="color:rgba(167, 37, 59, 0.7);">{{emailSuccess}}</p>
      {{/if}}
      {{#if emailFailure}}
        <p style="color:rgba(167, 37, 59, 0.7);">{{emailFailure}}</p>
      {{/if}}
      {{#if updateFailure}}
        <p style="color:rgba(167, 37, 59, 0.7);">{{updateFailure}}</p>
      {{/if}}
    <video onplay="onPlay(this)" alt="Please check your camera" id="inputVideo" autoplay muted></faceCam>
  </div>



   <!-- Bounding Box Checkbox -->
  <!-- <div class="checkbox">
    <input type="checkbox" id="hideLandmarksCheckbox" onchange="onChangeHideLandmarks(event)" />
    <label for="hideLandmarksCheckbox">Hide Landmarks</label>
  </div> -->
  <!-- check boxes -->

  <!-- <div id="selfie-buttons">
      <button type="button" id="takeSelfie" onclick="takeSelfie();">
          Take Selfie
      </button>
      <button type="button" id="saveSelfie" onclick="saveSelfieToProfile();">
          Save to Profile
      </button> -->
      <!-- <button type="button" onclick="javascript: window.location.href='{{mailTo}}'">
          Email Photo
      </button>
  </div> --> {{!--end selfie-buttons --}}

</div>

<div class="side-images">
  <canvas id="selfie-canvas" style="display:none;"></canvas>
  <img src="img/default.png" id="selfie-image"/>
  <div id="myresult" class="img-zoom-result"></div>
</div>

<div id="picture-buttons">

  <div class="item" title="Take a Selfie" onclick="takeSelfie();">
    <i class="fas fa-camera"></i>
  </div>

  <div class="item" title="Show/Hide Landmarks" onclick="onChangeHideLandmarks(event)">
    <i class="far fa-id-card-alt"></i>
  </div>

  <div class="item" "Save to Profile" id="saveSelfie" onclick="saveSelfieToProfile();">
    <i class="fas fa-folder"></i>
  </div>

  <div class="item" title="Zoom">
    <i class="fas fa-search-plus"></i>
  </div>

  <div class="item" title="Add Lighting">
    <i class="fas fa-lightbulb"></i>
  </div>

  <div class="item" onclick="emailSelfie();">
    <i class="fas fa-at" id="emailContact"></i>
  </div>

  <div id="emailForm">
        <!-- <form action="#">
            <p>Where would you like us to send this photo?</p>
            {{#if currentUser}}
              <input id="userEmail" type="email" placeholder="Enter a valid email address" value={{user.email}}>
            {{else}}
              <input id="userEmail" type="email" placeholder="Enter a valid email address">
            {{/if}}
            <input id="formBtn" type="submit">
        </form> -->
  </div>
  <div class="item" title="Download Image">
      <a id="downloadSelfie" download="aurora_selfie.png">
        <i class="fas fa-cloud-download-alt"></i>
      </a>
  </div>
</div>



